.name-box{
width: 100px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-size: 16px;
border-radius: 10px;
border: solid;
outline: none;
border-color:rgb(213, 208, 208);
border-width: 1px;
cursor: pointer;
}
.last-name-box{
width: 100px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-size: 16px;
border-radius: 10px;
border: solid;
outline: none;
border-color:rgb(213, 208, 208);
border-width: 1px;
cursor: pointer;
}
.email-box{
width: 220px;
display:block;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
font-size: 16px;
border-radius: 10px;
border: solid;
outline: none;
border-color:rgb(213, 208, 208);
border-width:1px;
cursor: pointer;
margin-top: 10px;
margin-bottom: 10px;
}
.sign-up-button{
width: 235px;
padding-top: 10px;
padding-bottom: 10px;
background-color:rgb(72, 147, 244) ;
color: white;
font-size: 16px;
font-weight: bold;
border: none;
border-radius: 10px;
margin-bottom: 30px;
cursor: pointer;
}

.uber-text{
  font-size: 26px;
  font-family: Roboto;
}
.uber-location{
  width: 250px;
display: block;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
background-color: rgb(249, 249, 249);
margin-bottom: 15px;
border: none;
outline: none;
margin-bottom: 5px;
cursor: pointer;
}

.uber-destination{
  width: 250px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  background-color: rgb(249, 249, 249);
  margin-bottom: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.request-button{
padding-top: 10px;
padding-bottom: 10px;
padding-left: 16px;
padding-right: 16px;
background-color: black;
color: white;
margin-right: 7px;
border: none;
cursor: pointer;
}
.schedule-button{
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  cursor: pointer;
}